<!DOCTYPE html>
<html lang="en" ng-app="todomvc" data-framework="angularjs">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>TODO REALTIME STORAGE</title>
		<link rel="stylesheet" href="style/todo-storage.css">
		<style>[ng-cloak] { display: none; }</style>

		<script type="text/javascript" src="js/libs/es5-shim.min.js"></script> 

		<script type="text/javascript" src="js/libs/angular.min.js"></script>    
		<script type="text/javascript" src="https://storage-cdn.realtime.co/storage/1.0.0/realtime-storage-min.js"></script>    

		<script type="text/javascript" src="js/configuration.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
		<script type="text/javascript" src="js/controllers/todoCtrl.js"></script>
		<script type="text/javascript" src="js/services/realtimeStorage.js"></script>
		<script type="text/javascript" src="js/services/todoStorage.js"></script>
		<script type="text/javascript" src="js/directives/todoFocus.js"></script>
		<script type="text/javascript" src="js/directives/todoBlur.js"></script>
		<script type="text/javascript" src="js/directives/todoEscape.js"></script>
	</head>
	<body>
		<section id="todoapp" ng-controller="TodoCtrl">			
			<header id="header">
				<h1>todos</h1>
				<form id="todo-form" ng-submit="changeList()">
					<input id="new-todo" placeholder="My List Name" ng-model="listName">
				</form>
				<form id="todo-form" ng-submit="addTodo()">
					<input ng-disabled="listDisabled" id="new-todo" placeholder="What needs to be done?" ng-model="newTodo" autofocus>
				</form>
			</header>
			<section id="main" ng-show="todos.length" ng-cloak>
				<input id="toggle-all" type="checkbox" ng-model="allChecked" ng-click="markAll(allChecked)">
				<label for="toggle-all">Mark all as complete</label>
				<ul id="todo-list">
					<li ng-repeat="todo in todos | filter:statusFilter" ng-class="{completed: todo.state, editing: todo == editedTodo}">
						<div class="view">
							<input class="toggle" type="checkbox" ng-model="todo.state" ng-click="editTodoState(todo)">
							<label ng-dblclick="editTodo(todo)">{{todo.task}}</label>
							<button class="destroy" ng-click="removeTodo(todo)"></button>
						</div>
						<form ng-submit="doneEditing(todo)">
							<input class="edit" ng-model="todo.task" todo-escape="revertEditing(todo)" todo-blur="doneEditing(todo)" todo-focus="todo == editedTodo">
						</form>
					</li>
				</ul>
			</section>
			<footer id="footer" ng-show="todos.length" ng-cloak>
				<span id="todo-count"><strong>{{remainingCount}}</strong>
					<ng-pluralize count="remainingCount" when="{ one: 'item left', other: 'items left' }"></ng-pluralize>
				</span>
				<ul id="filters">
					<li>
						<a ng-class="{selected: location.path() == '/'} " href="#/">All</a>
					</li>
					<li>
						<a ng-class="{selected: location.path() == '/active'}" href="#/active">Active</a>
					</li>
					<li>
						<a ng-class="{selected: location.path() == '/completed'}" href="#/completed">Completed</a>
					</li>
				</ul>
			</footer>
		</section>
		<footer id="info">
			<p>Double-click to edit a todo</p>
			<p>Double-click to change the list name</p>
			<p>Credits:
				<a href="http://twitter.com/cburgdorf">Christoph Burgdorf</a>,
				<a href="http://ericbidelman.com">Eric Bidelman</a>,
				<a href="http://jacobmumm.com">Jacob Mumm</a> 
				<a href="http://igorminar.com">Igor Minar</a> and
				<a href="http://realtime.co">Realtime.co Cloud Storage</a>
			</p>
			<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
		</footer>
	</body>
</html>